body {
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    color: aliceblue;
 background-color: purple;
 font-size:xx-large;
}
button {
    background-color: rgb(64, 64, 214);
    color: white;
    margin-top: 10px;
    flex: 1;
}
#cityInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}